<!DOCTYPE html>
<html>
<head>
	<title>Social Network Ads</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header text-center">
				<h3>Sales Classification (Purchase/Not Purchase)</h3>
			</div>
			<div class="card-body">
				<form method="post" action="{{ url_for('predict')}}">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input required="" value="" type="number" class="form-control" name="age" placeholder="Age">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-money-bill"></i></span>
						</div>
						<input required="" value="" type="number" class="form-control" name="estimatedsalary" placeholder="EstimatedSalary">
					</div>
					{% if output != null %}
						<div class="input-group form-group">
							<p class="form-control" style="background: green;color: #fff;border-radius: 0;">Output: {{ output['output'] }}</p>
						</div>
  					{% endif %}
					<div class="form-group">
						<a href="/" class="btn login_btn">Refresh</a>
						<input type="submit" value="Submit" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Algorithm: SVM + Accuracy 95%
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
